@import url("bootstrap.min.css");
@import url("font-awesome.min.css");
@import url("plugins.min.css");
@import url("pd.min.css");
@import url("skins.min.css");
@import url("grumble.css"); 
@import url("../lib/ligerUI/skins/Aqua/css/ligerui-all.css"); 
@import url("../lib/ligerUI/skins/Gray2014/css/all.css"); 
@import url("bootstrapgrid-min.css");  
 
#ss-shortcut {
	position: absolute;
	top: 55px;
	left: 432px;
	z-index: 999;
	border: dashed;
}

a {
	cursor: pointer;
}

.menuhiden {
  /*display: none;*/
}

.menushow {
  display: block ;
}

#login-info .dropdown-menu::before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 15px;
    top: -7px;
 }
 
#login-info .dropdown-menu::after {
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display:  inline-block;
    position: absolute;
    right: 16px;
    top: -6px;
}

#login-info .dropdown-menu {
    animation-name: fadeInDown;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #333;
    font-size: 12px;
    margin-top: 10px;
    min-width: 170px;
    background-color: #FFFFFF !important;
}

#login-info .dropdown-menu .with-image  {
    text-align: center;
}

#login-info .dropdown-menu .with-image .avatar img {
 	 text-align: center;
    border: 3px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    height: 120px;
    vertical-align: middle;
    width: 120px;
}

.dropdown-toggle .mydropdown {
	background-color: #fff;
	min-width: 55px !important;
}


 /*定义尾部按钮 放在页面功能具体参考定义
   这里默认配合 grid tr td ,li 等后面带操作的组件
  * */ 
.ss-rows-ops:hover .ss-list-ops {
	display: block;
	 cursor: pointer;
}
 
.ss-list-ops {
	float: right;
	display: none;
	height: 14px !important;
	margin-top: 5px;
	padding: 1px 10px 1px 0px;
}
.ss-list-ops .done,
.ss-list-ops .send, 
.ss-list-ops .delete {
	float: left;
	cursor: pointer;
	margin-right: 10px;
	width: 14px !important;
	height: 14px !important;
	background: transparent url(../img/ssoft/info-li-btn.png) no-repeat scroll 0% 0%;
}
.ss-list-ops .send {
	background-position: 0px 0px;
}
.ss-list-ops .delete {
	background-position: 0px -28px;
}
.ss-list-ops .done {
	background-position: 0px -42px;
}

	

/*覆盖 bootstrap*/

.label {
	font-size: 90% !important;
}

/*自定义13号字体*/

.ss-fz13 {
	 font-size: 13px !important;
}
/*********颜色定义  start************/
/*绿色*/
.text-blue , .f-blue {
    color: #419de6;
}
/*桔红*/
.f-ore {
    color: #f60;
}
/*灰色*/
.f-gray {
    color: #9a9a9a;
}
/*桔色一种*/
.f-prin {
    color: #ef5198;
}

/*红色*/
.f-red {
    color: red;
}

/*********颜色定义  end ************/
/*div left*/
.fl {
	float: left;
}

/*div right*/
.fr {
	float: right;
}
.fr::after {
	content: "";
	overflow: hidden;
	
}
.ulnone {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tooltip {
  font-size: 18px !important;
}
 
 

/*加粗*/
strong, b , fw {
    font-weight: bold;
}

/*字体为14*/
.f-14 {
    font-size: 14px !important;
}

.fz-16 {
	 font-size: 16px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-18{
    font-size:18x !important;
}

/*宽度50*/
 .w50 {
    width: 50px;
}

 .w100 {
    width: 100px;
}

 .w150 {
    width: 150px;
}

 .w120 {
    width: 120px;
}

 .w200 {
    width: 200px;
}

/*--- 获取各种小图标  start ---*/
/* 手机短信 基本定义*/
.phone-ld, .phone-wh, .phone-lf, .phone-msg {
    background: url(../img/ssoft/contact-icons.png) no-repeat;
}
 
/*短信定义*/
.phone-msg {
    background-position: 0 -60px;
}
/*电话打出*/
.phone-wh {
    background-position: 0 -20px;
}
/*电话打进*/
.phone-ld {
    background-position: 0 0;
}
.phone-lf {
	background-position: 0 -40px;
}
 
.ss-close-btn {
	display: inline-block;
    cursor: pointer;
    position: absolute;
    right: -14px;
    top: -14px;
    width: 28px;
    height: 28px;
    background: url(../img/ssoft/close_btn.png) no-repeat center top;
}
.ss-notice {
    background: url(../img/ssoft/time.png) no-repeat 10px center;
}

/*间距定义*/

.mg-10 {
	margin: 10px; 
}

.mg-5 {
	margin: 5px; 
}

.mg-lr-5 {
	margin-right: 5px; 
}

.mg-lr-20 { 
	margin-right: 20px; 
}

.mg-lfr-5 {
	margin-left: 5px; 
	margin-right: 5px; 
}

.mg-lfr-10 {
	margin-left: 10px; 
	margin-right: 10px; 
}

.mg-20 {
	margin: 20px;
}

.mg-tp-10 {
	margin-top: 10px; 
}

.mg-tp-20 {
	margin-top: 20px; 
}

.mg-bm-10 {
	margin-bottom: 10px; 
}


.pd-10 {
	padding: 10px; 
}
.pd-lf-5 {
	padding-left: 5px; 
}

.mg-lf-5 {
	margin-left: 5px; 
}

.mg-lf-20 {
	margin-left: 20px; 
}

.mg-lf-10 {
	margin-left: 10px; 
}

.pd-5 {
	padding: 5px; 
}
 
/*钩*/
.ssicheck {
	 list-style: none;
}

.ssicheck li:hover {
	background: #DFECFF;
}

.ssicheck li {
	float:left;
	text-align: left;
	padding: 0 15px 0 10px;
}
.ssicheck li div {
	float: left;	
	padding: 5px 0 5px 0;			
}

.ssicheck li label {
	 margin-left: 10px;	
}

.selected  {
    background: rgba(0, 0, 0, 0) url("../img/ssoft/right.png") no-repeat scroll right -70px;
    font-weight: bold;
}

.teachzz { 
    /*cursor: pointer;*/
    display: inline-block;
    border: none;
    border-radius: 3px;
    background: url(../img/ssoft/zhuan.png) no-repeat;
    height: 20px;
    font: normal 14px/20px "microsoft yahei";
    padding-left: 22px;
}

.teachjz { 
    /*cursor: pointer;*/
    display: inline-block;
    border: none;
    border-radius: 3px;
    background: url(../img/ssoft/jianz.png) no-repeat;
    height: 20px;
    font: normal 14px/20px "microsoft yahei";
    padding-left: 22px;
}

.zxico { 
    /*cursor: pointer;*/
    display: inline-block;
    border: none;
    border-radius: 3px;
    background: url(../img/ssoft/icon-comm.gif) no-repeat;
    height: 20px;
    font: normal 14px/20px "microsoft yahei";
    padding-left: 22px;
}
.zxico-classes  {
	background-position: 0 -120px; 
}	 

.zxico-vip {
    background-position: 0 -180px;
}

.contentcs {
    margin: 0;
    padding: 0; 
    /*background: url(../img/mybg.png) #fff;*/
    /*direction: ltr;
    overflow: auto;
    min-height: 400px;
    max-height: 550px;*/
 }


 #rightmenuid {
 	 top: 70px !important;
 	 position: fixed !important;
 }
 
.bbdd {
    	/*border-bottom: #ccc dashed 1px;*/ 
	border-bottom: 1px dashed rgba(0, 0, 0,0.5);    	
}  

.btdd {
    	/*border-bottom: #ccc dashed 1px;*/ 
	border-top: 1px dashed rgba(0, 0, 0,0.5);
}
 
.mh400 {
	min-height: 400px;
} 


.pl-10 {
    padding-left: 10px;
}

.timelinepl {
    max-height: 340px;
    overflow: auto;
    width: 780px;
}

/**
 * 定义职工，男女，类型
 */
 .fm {
    color: #EF5198;
  }
 
  em {
   color: #333;
  }
 
 .m {
    color: #419DE6;
  } 
  
 .part-time {
    background: url(../img/ssoft/icon-comm.png) no-repeat;
    height: 22px;
    line-height: 18px;
    padding-left: 24px;
    margin-top: 9px;
 }
  
 .full-time {
  	background: url(../img/ssoft/icon-comm.png) no-repeat 0 -30px;
    height: 22px;
    line-height: 18px;
    padding-left: 24px;
    margin-top: 9px;
 }
  /*绿色打钩*/
 .g-green-checked {
    background: url(../img/ssoft/right.png) right 18px no-repeat;
 }
 
 .menu-big-cubes  {
    height: 120px;
    width: 120px;
    text-align: center;
    background-color: #fff;
    display: block;
    float: left;
    font-weight: 300;
    margin: 0 10px 20px 0;
    padding: 5px;
    position: relative;
    text-decoration: none;
 }
 
 .grid-edit-btn { 
    background-image: url(../img/ssoft/edit-img.png);
    cursor: pointer;
    display: block;
    width: 16px;
    height: 16px;  
 }
 
 .ss-camare {
    background: url(../img/ssoft/camare.gif) #fff no-repeat 7px 8px;
     width: 48px;
    padding-left: 20px;
    text-align: center; 
    line-height: 30px;
}
.ss-picimg {
    background: url(../img/ssoft/picImg.gif) #fff no-repeat 7px 8px;
    width: 69px;
    padding-left: 20px;
    margin-left: -1px;
    text-align: center;
    cursor: pointer; 
    line-height: 30px;
}

.ss-img-btn {
   display: block;
    height: 30px;
    line-height: 30px;
    color: #999;
    border: #dadada solid 1px;
    cursor: pointer;
}

img, a img {
    vertical-align: top;
}

/*.l-tree div.l-selected   {
   background: rgba(0, 0, 0, 0) url("../img/ssoft/oneright.png") no-repeat scroll right center ;
   font-weight: bold;
   margin-left: ;
} 
树菜单打钩
  
.l-tree div.l-selected span  {
    background: rgba(0, 0, 0, 0) url("../img/ssoft/right.png") no-repeat scroll right -78px;
    font-weight: bold;
}
.l-tree div {  
    padding-right: 15px; 
}

.l-tree .l-selected span { 
    padding-right: 22px !important;
}
 */
 


.overflowyyy {
	overflow-y:auto ;
	overflow-x: hidden;
}

.ssheader {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    color: #232323;
    background: #F2F2F2;
    display: block;
    font-size: 16px;
    font-weight: 300;
    padding: 8px 10px;
}

.li-span-del {
	    width: 16px;
	    height: 16px;
	    display: block;
	    margin-top: 0px;
	    margin-left: 10px;
	    background: url(../img/ssoft/del.png) no-repeat;
	    cursor: pointer;
 }
 
 .sssch-userimg {
		 border-radius: 50%;
		 width: 35px;
	}
 
 
 /**
  * 教学图标设置
  * eg : <i class="sshool-jx cash f-blue fl ml-20">张晨林</i>
  */ 
.sshool-jx {
    display: inline-block;
    padding-left: 45px;
    font: normal 14px/18px "microsoft yahei";
    height: 18px;
    background: url(../img/ssoft/jiaoxue.png) no-repeat;
}
 
/*现金*/
.sshool-jx.cash {
	background-position: 0 0
}
/*储蓄卡*/
.sshool-jx.card {
	background-position: 0 -26px
}

/*信用卡*/
.sshool-jx.xycard {
	background-position: 0 -53px
}
/*账号*/
.sshool-jx.account {
	background-position: 0 -80px
}
/*欠费*/
.sshool-jx.qianfei {
	background-position: 0 -107px
}
/*手开票*/
.sshool-jx.shoukaip {
	background-position: 0 -133px
}
/*转账*/
.sshool-jx.transfer {
	background-position: 0 -160px
}
/*支票*/
.sshool-jx.zhipiao {
	background-position: 0 -186px
}
/*催费*/
.sshool-jx.cuifei {
	background-position: 0 -211px
}
/*暂停*/
.sshool-jx.pause {
	background-position: 0 -236px
}
/*未续费*/
.sshool-jx.weixufei {
	background-position: 0 -261px
}
/*正常*/
.sshool-jx.normal {
	background-position: 0 -287px
}
/*在读*/
.sshool-jx.zaidu {
	background-position: 0 -313px
}
/*申退*/
.sshool-jx.shentui {
	background-position: 0 -339px
}
/*退班*/
.sshool-jx.tuiban {
	background-position: 0 -364px
}
/*关注*/
.sshool-jx.focus {
	background-position: 0 -390px
}
/*到课*/
.sshool-jx.toclass {
	background-position: 0 -416px
}
/*请假*/
.sshool-jx.leaveclass {
	background-position: 0 -442px
}
/*旷课*/
.sshool-jx.absentclass {
	background-position: 0 -468px
}
/*转出*/
.sshool-jx.zhuanchu {
	background-position: 0 -494px
}
/*跨校*/
.sshool-jx.kuaixiao {
	background-position: 0 -520px
}
/*流失*/
.sshool-jx.loss {
	background-position: 0 -546px
}
/*停用*/
.sshool-jx.disable {
	background-position: 0 -572px
}
/*离职*/
.sshool-jx.dimission {
	background-position: 0 -598px
}
/*报名中*/
.sshool-jx.baoming {
	background-position: 0 -624px
}
/*续费*/
.sshool-jx.xufei {
	background-position: 0 -650px
}
/*申停*/
.sshool-jx.stop {
	background-position: 0 -676px
}
/*老生*/
.sshool-jx.oldstudent {
	background-position: 0 -702px
}
/*封存*/
.sshool-jx.seal {
	background-position: 0 -728px
}
/*接班*/
.sshool-jx.classover {
	background-position: 0 -754px
}

/*笑脸*/

.ss-face  {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    margin: 0 5px 5px;
    background: url(../img/ssoft/ssface.png) no-repeat;
  }

.ss-face-sati {
    background-position: 0 0;
} 

.ss-face-gen {
    background-position: 0 -20px;
}

.ss-face-dis {
    background-position: 0 -40px;
}

.ss-face-hate {
    background-position: 0 -60px;
}

.smart-style-3 nav ul li.active>a {
	color: #EA843B !important;
}
    
 /*笑脸 end */

.searchdiv {
		border-bottom: 1px dashed #ddd;
		zoom: 1;
		margin-top: 10px;
}
.searchdiv .stitle {
   color: #2B6497;	
   font-weight: bold;
   font-size: 15px;
   line-height: 25px; 	 
}

.input_text_edit{   
    border-color: #E9833A !important;   
    border-style:solid !important;   
    border-top-width:0px !important;   
    border-right-width:0px !important;   
    border-bottom-width:1px !important;   
    border-left-width:0px !important;
    box-shadow:none  !important;
}  

.input_text_readonly{   
    border-style:solid !important;   
    border-top-width:0px !important;   
    border-right-width:0px !important;   
    border-bottom-width:0px !important;   
    border-left-width:0px !important;
    box-shadow:none  !important;
}  

/*  ----------- sshookcheck ---------------------------    */
  .sshookcheck .tab-pane { 
  	 overflow-x: hidden; 
  	 overflow-y: auto;
     height: 300px; 
  } 
  .sshookcheck ul li {
     list-style: none;
     vertical-align: top;
     cursor: pointer;
     float: left;  
     /*margin-right: 15px;*/
  }
  
  .sshookcheck ul li:hover {
  	 background: #F1F8FF ;
  } 
  
 
  .sshookcheck ul li:hover .li-span-del-hd {
  	  visibility: visible;
  } 
  
  
 .li-span-del-hd {
	    width: 16px;
	    height: 16px;
	    visibility: hidden;
	    margin-left: 10px;
	    margin-top: 10px;
	    background: url(../img/ssoft/del.png) no-repeat;
	    cursor: pointer;
	}
   
  
  .sshookcheck ul li div {
     padding-right: 15px;
     padding-left: 5px;
     padding-top: 5px;
     height: 43px;
     display: inline-block;
  }
  
  
  .tab-pane em {
      margin-left:5px;;
   }
  
  
  .sshookcheck ul li .checked {
    background: rgba(0, 0, 0, 0) url("../img/ssoft/right.png") no-repeat scroll right -62px;
    font-weight: bold;
  }
  
  .sshookcheck-select-info {
	-moz-user-select:none;
    border: 1px solid #CECECE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 1px 1px #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);    
    overflow: hidden;
    padding: 10px 1px 1px 10px;
    position: relative;
    margin-right: 10px;
  }
  .sshookcheck-select-info label {
     color: #5893b7;
  }
  
  .sshookcheck-select-info ul   {
     overflow-x: hidden;
     overflow-y: auto;
  }
  
  .sshookcheck-select-info ul li {
     list-style: none;
     vertical-align: top;
     cursor: pointer;
     float: left;
     margin-left: 10px;
     margin-top: 5px;
  }
  
  .sshookcheck-select-info ul li span {
     color: red;
  }
  
  /*  ----------- xssmenu mainselectli  ---------------------------    */
 .topnav {
	
	font-size:14px;
	line-height:20px;

}
.topnav  a.as{
	background:#88bbd4;
	padding:4px 6px 6px;
	text-decoration:none;
	font-weight:bold;
	color:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*background:transparent url("../img/ssoft/signin-nav-bg-ie.png") no-repeat 0 0;
	*padding:4px 12px 6px;
}
.topnav a.menu-open {	
    border-top: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    border-bottom:none;
    border-radius: 4px 4px 0 0 ;
    box-shadow: 0 0 4px #8B99A8, 0 0 1px #8B99A8;
}
a.as.menu-open span {
	background-image:url("../img/ssoft/toggle_up_dark.png");
	color: #FFFFFF;
}

a.as {
	position:relative;
	margin-left:3px;
}
a.as span {
	background-image:url("../img/ssoft/toggle_down_light.png");
	background-repeat:no-repeat;
	background-position:100% 50%;
	padding:4px 16px 6px 0;
	color:#ffffff;
} 

/**.disk-info .btn, .button,  ,*/
.space-status, .space-status i, .file-list dt, .file-list dt a, .title-float, .title-float a, .file-more a, .file-more span, .file-pages, .pages, .page-index-list .box-con, .popup-space h3 {
    background-image: url(../img/ssoft/spr_x.png);
    background-repeat: repeat-x;
}




.select-info {
	-moz-user-select:none;
    border: 1px solid #CECECE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 1px 1px #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);    
    margin: 8px;
    overflow: hidden;
    /*padding: 14px 10px 14px 60px;*/
     padding: 10px 1px 1px 10px;
    position: relative;
    min-height: 65px;
}
.select-info  .top-label {
    left: 5px;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
	color: #5893B7;
}
.select-info ul{
	margin-left:10px;	
}

.select-info ul li {
    float: left;
  /*  height: 35px;*/
    line-height: 20px;
    margin-bottom: 10px;
    padding: 2px 15px;
    text-align: center;
	cursor: pointer;
	list-style-type: none;
}


.select-info li:hover {
	background-color: #DFECFF;
}
 
.select-info  li.current {
    /*color: #F57900;*/
	/*font-weight: bold;*/ 
}

.select-info  li.current span {
    color: red;
	/*font-weight: bold; */
}
  

/*.wd-multi .checked {
 	* 绿色的钩
    background: url(../img/wd/check/right.png) right 18px no-repeat;
}*/

 

/**xmenuæ ·å¼*/
.xmenu {
	/*-moz-user-select:none;*/
	background: none repeat scroll 0 0 #FFFFFF;
    /*border: 1px solid #BBBBBB;*/
    /*border-top:none;*/
    /*box-shadow: 0 0 4px #8B99A8, 0 0 1px #8B99A8;*/
    border-radius: 0px 0px 4px 4px;
    outline: medium none;
	font-size: 15px;
	
}


.mainselectbutton a {
	width: 80px;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
}

.mainselectbutton .btnsel {
	background-color: #E6E6E6;
	border-color:#ADADAD ;
}
   

.mainselectli { 
	-moz-user-select:none;
    overflow: hidden;
    /*padding: 10px 1px 1px 10px;*/
    margin-top: 10px; 
}
 
 @media (max-width: 767px) { 
  .mainselectli-mb li {
  	 height: 60px;;
  }
}
	 
    
.mainselectli li {
	background-position: 6px 6px;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 35px;
    overflow: hidden;
    padding: 2px 15px;
    line-height: 30px;
/*    width: 110px;*/
	color:#666666;
	/*text-indent: 20px;*/
	font-size: 16px;

}
.mainselectli  li:hover {
    background-color: #DFECFF;
}


.mainselectli  li.current {
    /*color: #F57900;*/
	font-weight: bold;
		/*红色的钩*/
	background: url(../img/ssoft/right.png) right -62px no-repeat;
}

.mainselectli  li span {
     font-size: 15px;
     display:inline !important ; 
          /*margin: 10px;*/
}
 
.a-btn {
    -moz-transition: box-shadow 0.3s ease-in-out 0s;
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #F6F6F6 74%, #EDEDED 100%) repeat scroll 0 0 transparent;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(188, 188, 188, 0.1);
    display: block;
    float: right;
    margin: 2px;
    overflow: hidden;
    position: relative;
}
.a-btn-text {
    color: #D7565B;
    display: block;
    font-size: 12px;   
    text-align:center;
    line-height: 16px;
    padding:5px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.a-btn:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(188, 188, 188, 0.1);
}
.a-btn:hover .a-btn-symbol {
    opacity: 0;
}
 
.m-close{
	background: url("../img/ssoft/controls.png") no-repeat scroll -25px 0 transparent;
	bottom: 0;
    height: 25px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    width: 25px;
	cursor: pointer;
	margin: 5px;
}
.m-close:hover {
    background-position: -25px -25px;
}

/* VIP 上门家教   */
 .table-common {
 	float: left;
 	border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    width: 100% !important;
 } 
 
 .table-common  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  } 
 
 .table-common td {
    position: relative;
    padding: 10px;
    vertical-align: middle;
    text-align: center; 
    display: table-cell; 
     border: 1px  double #ddd;
  }
   
  .table-common  strong {
     color: #419de6;
     cursor: pointer;
  }
 
 .ipt-w-n {
    border: none;
    position: relative;
 }
 .ipt-text {
    padding: 0;
    margin: 0;
    color: #000000 !important;
    width: 100%;
    outline: none;
    vertical-align: top;
    background-color: transparent;
    height: 40px;
    resize: none; 
    border-color:  #B0A0A0  !important;   
    border-style:solid !important;   
    border-top-width:0px !important;   
    border-right-width:0px !important;   
    border-bottom-width:1px !important;   
    border-left-width:0px !important;
    box-shadow:none  !important;
    width: 60px;
 }
 .table-common .ipt-text {
    text-align: center;
 }
 .table-common .delete-btn {
    position: absolute;
    height: 20px;
    right: 0;
    cursor: pointer;
    width: 20px;
    background: url('../img/ssoft/dui.png') no-repeat;
 } 
 .td-header {
 	 min-width: 80px;
 	 color: #000000;
 	 font-weight: bold;
  }
  
  .td-header-end {
  	min-width:80px;
  }
  
  .ipt-herder { 
    padding: 0;
    margin: 0;
    color: #E9833A !important;
    width: 100%;
    outline: none;
    vertical-align: top;
    background-color: transparent;
    height: 40px;
    resize: none; 
    border-color: #E9833A !important;   
    border-style:solid !important;   
    border-top-width:0px !important;   
    border-right-width:0px !important;   
    border-bottom-width:1px !important;   
    border-left-width:0px !important;
    box-shadow:none  !important;
  }
  
  .ipt-title { 
    padding: 0;
    margin: 0;
    color: #419de6 !important;
    width: 100%;
    outline: none;
    /*vertical-align: top;*/
    background-color: transparent;
    height: 40px;
    resize: none; 
    border-color:  #419de6 !important;   
    border-style:solid !important;   
    border-top-width:0px !important;   
    border-right-width:0px !important;   
    border-bottom-width:1px !important;   
    border-left-width:0px !important;
    box-shadow:none  !important;
    text-align: center;
  }
  
  .price-unit { 
    color: #333;
    display: inline-block;
    margin-top: 10px;
    /*font: 14px/40px "microsoft yahei";*/ 
  }
  
   .ui-datepicker {
  	 font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif" ;
  	 z-index: 9300 !important;
  	}
  	
  	.div-curriculum {
  		 border-bottom:  groove #E68139 2px;
  		 min-height:28px; 
  		 float: left;
  		 min-width: 50px;
    }
  	
  /**
   *  ystep.css
   */
  
  /*common css*/
.ystep-container {
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Wenquanyi Micro Hei","Microsoft Yahei",Arial,sans-serif;
  display: inline-block;
  position: relative;
  color: #000;
}
.ystep-container ul {
  list-style: none;
}
.ystep-container ul,.ystep-container li,.ystep-container p {
  margin: 0;
  padding: 0;
}

/*size css*/
.ystep-sm {
  width: 360px;
  height: 30px;
  font-size: 12px;
  line-height: 1;
}
.ystep-lg {
  width: 700px;
  height: 60px;
  font-size: 18px;
  /*line-height: .3;*/
}

/*small size css*/
.ystep-sm .ystep-container-steps {
  position: absolute;
  top: 2px;
  cursor: pointer;
  z-index: 10;
}
.ystep-sm li {
  float: left;
  width: 65px;
  height: 50px;
}
.ystep-sm .ystep-step-done {
  background-position: -119px -76px;
}
.ystep-sm .ystep-step-undone {
  background-position: -60px -76px;
}
.ystep-sm .ystep-step-active {
  background-position: -182px -76px;
}
.ystep-sm .ystep-progress {
  width: 260px;
  height: 3px;
  position: absolute;
  top: 30px;
  left: 8px;
  float: left;
  margin-right: 10px;
  overflow: hidden;
}
.ystep-sm .ystep-progress-bar {
  width: 260px;
  height: 6px;
  background: #e4e4e4;
  display: inline-block;
  float: left;
}
.ystep-sm .ystep-progress-highlight {
  height: 6px;
	display: block;
}

/*large size css*/
.ystep-lg .ystep-container-steps {
  position: absolute;
  top: 2px;
  cursor: pointer;
  z-index: 10;
}
.ystep-lg li {
  float: left;
  width: 100px;
  height: 85px;
}
.ystep-lg .ystep-step-done {
  background-position: -278px -132px;
}
.ystep-lg .ystep-step-undone {
  background-position: -137px -131px;
}
.ystep-lg .ystep-step-active {
  background-position: -414px -131px;
}
.ystep-lg .ystep-progress {
  width: 400px;
  height: 10px;
  position: absolute;
  top: 30px;
  left: 15px;
  float: left;
  margin-right: 10px;
  overflow: hidden;
}
.ystep-lg .ystep-progress-bar {
  width: 400px;
  height: 20px;
  background: #e4e4e4;
  display: inline-block;
  float: left;
}
.ystep-lg .ystep-progress-highlight {
  height: 20px;
	display: block;
}

/*green css*/
.ystep-green .ystep-step-done {
  background-image: url("../img/ssoft/pointes_green.png");
  background-repeat: no-repeat;
}
.ystep-green .ystep-step-undone {
  background-image: url("../img/ssoft/pointes_green.png");
  background-repeat: no-repeat;
  color: #9c9a9b;
}
.ystep-green .ystep-step-active {
  background-image: url("../img/ssoft/pointes_green.png");
  background-repeat: no-repeat;
  color: #3d8e15;
}
.ystep-green .ystep-progress-highlight {
  background: #89bc65;
}

/*blue css*/
.ystep-blue .ystep-step-done {
  background-image: url("../img/ssoft/pointes_blue.png");
  background-repeat: no-repeat;
}
.ystep-blue .ystep-step-undone {
  background-image: url("../img/ssoft/pointes_blue.png");
  background-repeat: no-repeat;
  color: #9c9a9b;
}
.ystep-blue .ystep-step-active {
  background-image: url("../img/ssoft/pointes_blue.png");
  background-repeat: no-repeat;
  color: #3276b1;
}
.ystep-blue .ystep-progress-highlight {
  background: #60baff;
}

 	
  
  /* media---- 参考 --------- medai */ 
	/*@media (max-width: 767px) {
		.hidden-xs {
			display: none!important
		}
	}
	
	@media (min-width:768px) and (max-width:991px) {
		.hidden-sm {
			display: none!important
		}
	}
	
	@media (min-width:992px) and (max-width:1199px) {
		.hidden-md {
			display: none!important
		}
	}
	
	@media (min-width:1200px) {
		.hidden-lg {
			display: none!important
		}*/
	}
	/*手机*/
    @media (max-width: 767px) { 
		.screen-wd1000 {
		    width: 290px !important;
		}
	}
	
	/*电脑*/
	@media (min-width: 767px) {
		.screen-wd1000   {
		    width: 1000px !important;
		}
	}
	/*手机*/
    @media (max-width: 767px) { 
		.screen-wd800 {
		    width: 290px !important;
		}
	}
	
	/*电脑*/
	@media (min-width: 767px) {
		.screen-wd800   {
		    width: 800px !important;
		}
	}
	
	/*手机*/
    @media (max-width: 767px) { 
		.screen-wd680 {
		    width: 290px !important;
		}
	}
	
	/*电脑*/
	@media (min-width: 767px) {
		.screen-wd680   {
		    width: 680px !important;
		}
	}
	
	/*手机*/
    @media (max-width: 767px) { 
		.screen-wd600 {
		    width: 290px !important;
		}
	}
	
	/*电脑*/
	@media (min-width: 767px) {
		.screen-wd600   {
		    width: 600px !important;
		}
	}
	/*手机*/
    @media (max-width: 767px) { 
		.screen-mg-20 {
		   margin: 0px;
		}
	}
	
	/*电脑*/
	@media (min-width: 767px) {
		.screen-mg-20   {
		    margin: 20px;
		}
	}


  /* media------------- edia */
  
 
